@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hide {
  display: none !important;
}

.addTaskContainer {
  display: none;
  background: #ffffff;
  position: absolute;
  z-index: 99;
  padding: 20px;
  width: 400px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 20%);
}
.addTaskContainer p {
  font-weight: 600;
  margin-bottom: 10px;
  color: #8708f7;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.addTaskContainer p i {
  margin-right: 5px;
}
.addTaskContainer form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.addTaskContainer form div.errorBox {
  background-color: #ffe5e5;
  color: #b30000;
  border: 1px solid #ff4d4d;
  padding: 5px 10px;
  margin: 16px 0;
  font-family: sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: none;
  align-items: center;
  flex-direction: row;
}
.addTaskContainer form div.errorBox i {
  margin-right: 10px;
}
.addTaskContainer form div.errorBox span {
  font-size: 14px;
  font-weight: 500;
}
.addTaskContainer form div label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 4px;
}
.addTaskContainer form div input,
.addTaskContainer form div textarea,
.addTaskContainer form div select {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #a09b9b;
  resize: vertical;
}
.addTaskContainer form div .submitButton {
  background: #8708f7;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.addTaskContainer form div .submitButton:active {
  outline: 2px solid #8708f7;
}
.addTaskContainer form div textarea {
  height: 100px;
}

header {
  background: #f5f7fb;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
}
header .brandSection h2 {
  color: #8708f7;
  cursor: pointer;
}
header .searchSection {
  position: relative;
}
header .searchSection input {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  padding-left: 40px;
  font-weight: 500;
}
header .searchSection input:focus {
  outline: 1px solid #8708f7;
}
header .searchSection i {
  position: absolute;
  cursor: pointer;
  font-size: 22px;
  color: #b7b7b7;
  top: 10px;
  left: 10px;
}
header .profileSection {
  display: flex;
  align-items: center;
}
header .profileSection button {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 8px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #8708f7;
  color: #ffffff;
  cursor: pointer;
}
header .profileSection button:active {
  outline: 2px solid #8708f7;
}
header .profileSection button span {
  font-weight: 500;
}
header .profileSection button i {
  margin-right: 5px;
  font-size: 18px;
}

main {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .emptyTodoList {
  padding: 10px;
  text-align: center;
}
main .emptyTodoList h4 {
  font-weight: 600;
  font-size: 25px;
}
main .emptyTodoList span {
  color: #303540;
  font-size: 14px;
}
main .todoContainer {
  display: block;
  background: #f5f7fb;
  min-width: 450px;
  margin-bottom: 10px;
  padding: 10px;
}
main .todoContainer .todoTitle {
  font-weight: 500;
}
main .todoContainer .todoList {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 10px;
  margin: 10px 0;
  position: relative;
}
main .todoContainer .todoList .isDone p {
  opacity: 0.6;
  text-decoration: line-through;
}
main .todoContainer .todoList .todo {
  line-height: 18px;
}
main .todoContainer .todoList .todo p {
  font-size: 15px;
}
main .todoContainer .todoList .todo span {
  font-size: 12px;
  color: #6d6e6f;
}
main .todoContainer .todoList .todoIcon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: #f5f7fb;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .todoContainer .todoList .todoIcon i {
  font-size: 23px;
  color: #8708f7;
}
main .todoContainer .todoList .todoIcon i.isToday {
  color: #2d9b53;
}
main .todoContainer .todoList .opButtons {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
}
main .todoContainer .todoList .opButtons i {
  color: #6d6e6f;
  cursor: pointer;
}
main .todoContainer .todoList .opButtons i.bxs-check-circle {
  color: #257842;
  font-size: 16px;
  margin-right: 8px;
}
main .todoContainer .todoList .opButtons i.bx-checks,
main .todoContainer .todoList .opButtons i.bx-check-circle {
  margin-right: 8px;
  font-size: 16px;
}
main .todoContainer .todoList .opButtons i.bx-checks:hover,
main .todoContainer .todoList .opButtons i.bx-check-circle:hover {
  color: #2d9b53;
}
main .todoContainer .todoList .opButtons i.bx-trash {
  font-size: 16px;
}
main .todoContainer .todoList .opButtons i.bx-trash:hover {
  color: #e81616;
}/*# sourceMappingURL=styles.css.map */